## LOOPS

In [9]:
# While Loops
# while condition:
#   code to execute 

people_in_car = 0

while people_in_car < 5:
    print(f"People in the car: {people_in_car}")
    people_in_car += 1

print("No more poeple allowed")

People in the car: 0
People in the car: 1
People in the car: 2
People in the car: 3
People in the car: 4
No more poeple allowed

In [10]:
# Print all even number until 10
n = 20
count = 0
while count <= n:
    if count % 2 == 0:
        print(count)
        count += 1        
    else:
        print(f"The number {count} is not even")
        count += 1

0
The number 1 is not even
2
The number 3 is not even
4
The number 5 is not even
6
The number 7 is not even
8
The number 9 is not even
10
The number 11 is not even
12
The number 13 is not even
14
The number 15 is not even
16
The number 17 is not even
18
The number 19 is not even
20

In [19]:
# Countdown Timer
countdown = 10

while countdown >= 0:
    if countdown == 0:
        print("Liftoff!")
    else:
        print(f"T-minus {countdown} seconds")
    countdown -= 1

T-minus 10 seconds
T-minus 9 seconds
T-minus 8 seconds
T-minus 7 seconds
T-minus 6 seconds
T-minus 5 seconds
T-minus 4 seconds
T-minus 3 seconds
T-minus 2 seconds
T-minus 1 seconds
Liftoff!

## List

In [23]:
# Expense Report
"""
Calculate the sum of the expenses.
Print out the total expenses. It is expected something similar to the following:
This month, it was spent in total {total_expenses}
"""

monthly_expenses = [1200, 1350, 1050, 1450, 1150, 900, 1220]
total_expenses = sum(monthly_expenses)

print(f"This month, it was spent in total {total_expenses}")

This month, it was spent in total 8320

## Fibonacci Numbers

In [33]:
# Fibonacci Numbers
""" 
Write a program to calculate and print the first 10 numbers in the Fibonacci sequence. 
In this sequence, each number is the sum of the two preceding ones, starting from 1 and 1.
""" 
first = 0
second = 1
fibonacci = []

while len(fibonacci) < 10:
    fibonacci.append(first)
    third = first + second
    first = second
    second = third
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## Randomization

In [42]:
import random 
# generate random float beteween 0 and 1
print(random.random())

0.8634941697135888

In [43]:
# generate random integer between 0 and 10
print(random.randint(0, 10))

4

In [44]:
# generate random float within range
random.uniform(1,5)

2.432465171179423

In [57]:
# Choose random element from a list
my_list = ['apple','oranges','cherry','tomato']
random.choice(my_list)

'apple'

In [62]:
#shuffle a list
random.shuffle(my_list)
my_list

['tomato', 'apple', 'cherry', 'oranges']

In [72]:
# choose 3 elements randomly from a list akak sampling
random.sample(my_list, 3)

['cherry', 'apple', 'tomato']

In [76]:
# Pick my next movie
""" 
Create a program that randomly selects a movie from a list of provided movies. 
After a movie is selected, it should be removed from the list. 
Continue this process until all movies have been selected and the list is empty.
"""
import random
remaining_movies = ['The Matrix', 'Inception', 'The Dark Knight', 'Avengers: Endgame', 'Interstellar']

while remaining_movies:
    movie = random.choice(remaining_movies)
    print(movie)
    remaining_movies.remove(movie)
print("no more movies remain!")

The Matrix
The Dark Knight
Inception
Avengers: Endgame
Interstellar
no more movies remain!